# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.development
.env.staging
.env.production

# typescript
*.tsbuildinfo

app-example

# testing (not needed in builds)
coverage/
.jest/
__tests__/
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

# documentation (not needed in builds)
*.md
!README.md

# IDE
.vscode/
.idea/

# generated native folders
/ios
/android
